global
    daemon
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    maxconn 2000
    log 127.0.0.1 local0

frontend k8s_control_plane_frontend
    bind {{ control_plane_virtual_ip }}:1443
    default_backend k8s_control_plane

backend k8s_control_plane
    mode tcp
    balance roundrobin
    option tcp-check

{% for host_name in groups['kube_control_plane'] %}
    {% set host_address = hostvars[host_name].ansible_host | default(hostvars[host_name].ansible_default_ipv4.address) %}
    server {{ host_name }} {{ host_address }}:6443 check inter 2s rise 2 fall 3
{% endfor %}
