
service_subnet_prefix: 192.168.1
service_subnet_mask: 255.255.0.0
service_router_ip: 192.168.1.100/16
vlan_id: 1000
service_subnet_mtu: 1400
vnets:
  - name: service
    tag: 255
    cidr: "10.255.0.0/16"
    gateway-ip: "10.255.0.1"
    dhcp-ip-start: "10.255.2.1"
    dhcp-ip-end: "10.255.255.254"
  - name: general
    tag: 100
    cidr: "10.100.0.0/16"
    gateway-ip: "10.100.0.1"
    dhcp-ip-start: "10.100.2.1"
    dhcp-ip-end: "10.100.255.254"
  - name: internal
    cidr: "10.90.0.0/16"
    gateway-ip: "10.90.0.1"
    dhcp-ip-start: "10.90.2.1"
    dhcp-ip-end: "10.90.255.254"
    tag: 90
  - name: guests
    tag: 50
    cidr: "10.50.0.0/16"
    gateway-ip: "10.50.0.1"
    dhcp-ip-start: "10.50.2.1"
    dhcp-ip-end: "10.50.255.254"
virtual_gateway_if: "vmbr0"
virtual_gateway_auth_pass: "changeme"
virtual_gateway_ip: "192.168.255.254"
mikrotik_chr_image:
  dl_link: "https://download.mikrotik.com/routeros/7.21.4/chr-7.21.4.img.zip"
  format: "raw"
  vmid: 7000
