#!/usr/sbin/nft -f

flush ruleset

table ip nat {
    chain prerouting {
        type nat hook prerouting priority -100;

        {% for mapping in nft_dnat_mappings %}
        iifname "eth0" tcp dport {{ mapping.src_port }} dnat to {{ mapping.dest_ip }}:{{ mapping.dest_port }}
        {% endfor %}
    }

    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;

        ip daddr {{ snat_cdr }} oifname "eth0" masquerade
    }
}

table inet filter {
  chain forward {
    type filter hook forward priority 0;
    policy drop;

    ct state { established, related } accept

    iifname "eth0" oifname "eth0" accept
  }
}