#!/usr/sbin/nft -f

flush ruleset

table ip nat {
    chain prerouting {
        type nat hook prerouting priority -100;

        {% for mapping in nft_dnat_mappings %}
            tcp dport {{ mapping.src_port }} {{ mapping.dest_ip }}:{{ mapping.dest_port }}
        {% endfor %}
    }

    chain postrouting {
        type nat hook postrouting priority 100;
    }

    chain postrouting {
        # Masquerade when going out to internal networks
        ip saddr {{ network_cidr }} masquerade
    }
}