apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ storage_class.name }}
provisioner: linstor.csi.linbit.com
parameters:
  autoPlace: "{{ storage_class.replicas }}"
  storagePool: "{{ storage_class.storage_pool }}"
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer